<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Catalog</title>
    
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
    <link rel="canonical" href="https://picocss.com/examples/sign-in/">

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!-- Custom styles for this example -->
    <link rel="stylesheet" href="css/index.css">
  </head>

  <body>

    
    <!-- Main -->
    <main class="container">
      <article class="grid">
        <div>
          <hgroup>
            <h1>Data Catalog</h1>
            <h2>All your data in one place</h2>
          </hgroup>
          <a href="registerdata.html"><button>Add New Data</button></a>
          <a href="#"><button>Add New API</button></a>
          <a href="#"><button>Add New Feature</button></a>
          <a href="#"><button>Approve Dataset</button></a>
        </div>
        <div></div>
      </article>
    </main><!-- ./ Main -->


  <!-- Footer -->
  <footer class="container">
    <small></small><a href="#">Data Catalog</a> • <a href="#">Zendesk</a></small>
  </footer><!-- ./ Footer -->


  </body>

</html>
