<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Catalog Registration</title>
    <meta name="description" content="Register new data sets">
    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!--Jquery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <script>
        var meta = 5;
        $(document).ready(function () {



            $('#metadataform').submit(function (event) {

                $.ajax({
                    url: '/register/metadata',
                    dataType: 'json',
                    type: 'POST',
                    contentType: 'application/json',
                    accept: {
                        json: 'application/json'
                    },
                    data: JSON.stringify({
                        "dataset_name": $('#dataset_name').val(),
                        "dataset_logical_name": $('#dataset_logical_name').val(),
                        "dataset_description": $('#dataset_description').val(),
                        "dataset_type": $('#dataset_type').val(),
                        "dataset_source": $('#dataset_source').val(),
                        "dataset_share": $('#dataset_share').val(),
                        "dataset_retention": parseInt($('#dataset_retention').val()),
                        "dataset_retention_justification": $('#dataset_retention_justification').val(),
                        "dataset_arrival_frequency": $('#dataset_arrival_frequency').val(),
                        "organization": $('#organization').val(),
                        "product": $('#product').val(),
                        "team": $('#team').val(),
                        "data_steward": $('#data_steward').val(),
                        "platform_name": $('#platform_name').val(),
                        /*
                        "host_name": $('#host_name').val(),
                        "database_name": $('#database_name').val(),
                        "schema_name": $('#schema_name').val(),
                        */
                        "data_classification": $('#data_classification').val(),
                    }),
                    processData: false,
                    success: function (data, textStatus, jQxhr) {
                        //$('#response pre').html( JSON.stringify( data ) );

                        $('.dataset_id').val(data['dataset_id']);
                        $('.dataset_uuid').val(data['dataset_uuid']);

                        var tblHead = '<br/><table id="metadata_table" role="grid"> <thead> <tr> <th scope="col">Attribute</th><th scope="col">Value</th></tr> </thead>';
                        var tblBody = '<tbody>';

                        Object.keys(data).forEach(function (key) {

                            var eachRow = '';
                            if (key == "metadata_status") {
                                switch (data[key]) {
                                    case "inventoried":
                                        eachRow = '<tr><td>' + key + '</td><td id="metadata_status">' + '<button class="secondary">Inventoried</button>' + '</td></tr>';
                                        break;
                                    case "schema_applied":
                                        eachRow = '<tr><td>' + key + '</td><td id="metadata_status">' + '<button class="contrast">Schema Applied</button>' + '</td></tr>';
                                        break;
                                    case "lineage_applied":
                                        eachRow = '<tr><td>' + key + '</td><td id="metadata_status">' + '<button class="outline">Lineage Applied</button>' + '</td></tr>';
                                        break;
                                    case "curated":
                                        eachRow = '<tr><td>' + key + '</td><td id="metadata_status">' + '<button class="primary">Curated</button>' + '</td></tr>';
                                        break;
                                    default:
                                        eachRow = '<tr><td>' + key + '</td><td id="metadata_status">' + '<button class="outline contrast">Status Unclear</button>' + '</td></tr>';
                                        break;
                                }
                            } else {
                                eachRow = '<tr><td>' + key + '</td><td>' + data[key] + '</td></tr>';
                            }



                            tblBody += eachRow;
                            //console.log('Key : ' + key + ', Value : ' + meta[key])
                        })

                        tblBody += '</tbody></table><br/>';
                        $('#metadata_section').html(tblHead + tblBody);

                        console.log(data);
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });

                event.preventDefault();
            });


            $('#schemaform').submit(function (event) {
                console.log('submitted')
                $.ajax({
                    url: '/register/schema',
                    type: 'POST',
                    contentType: false,
                    data: new FormData(this),
                    processData: false,
                    success: function (data, textStatus, jqXHR) {
                        console.log(data);
                        meta = data;
                        renderFields(data['fields']);
                        $('#metadata_status').html('<button class="contrast">Schema Applied</button>');
                    }

                });
                event.preventDefault();

            });

            

            $('#partition-btn').hide();
            $('#partition-btn').on('click', function(event){
                console.log('Sample');
                SubmitParitions();
                event.preventDefault();
            });

        });

        function SubmitParitions(){
            var primaryKeys = [];
                $("input:checkbox[name='pk']:checked").each(function(){    
                    primaryKeys.push( parseInt($(this).val()));    		
                });

                $.ajax({
                    url: '/register/partitions',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "partition_path" : parseInt($('input[name="partition_path"]:checked').val()),
                        "primary_keys": primaryKeys,
                        "dataset_id": parseInt(meta['dataset_id']),
                    }),
                    processData: false,
                    success: function (data, textStatus, jqXHR) {
                        console.log(data);
                        meta = data;
                        $('#metadata_status').html('<button class="contrast">Schema Applied</button>');
                        $('#navigation').html('<p><a href="/register/classifydata/'+data['dataset_id']+'">Register Data Classification Indicators</a></p>');
                    }

                });
        }


        function renderFields(srcData) {
            var tblHead = '<br/><table id="schema_table" role="grid"> <thead> <tr> <th scope="col">Field Name</th><th scope="col">Type</th><th scope="col">Description</th><th>Primary Key Field</th><th>Partition Path</th></tr> </thead>';
            var tblBody = '<tbody>';
            var fields = srcData['data']
            for (let index = 0; index < fields.length; index++) {
                element = fields[index];
                eachRow = '<tr><td>' + element["name"] + '</td><td>' + element["type"] + '</td><td>' + element["doc"] + '</td> <td><input type="checkbox" name="pk" id="pk_'+element["field_id"]+'"  value="'+element["field_id"]+'"  ></td>  <td> <input type="radio" name="partition_path" id="pp_'+element["field_id"]+'" value="'+element["field_id"]+'" > </td></tr>';
                tblBody += eachRow;
            }
            tblBody += '</tbody></table><br/>';
            button = '<br/><br/>';
            $('#schema_section').html(tblHead + tblBody  + button);
            $
            $('#partition-btn').show();
        }


    </script>
</head>

<body>

    <!-- Header -->
    <header class="container">
        <hgroup>
            <h1>Data Registration</h1>
            <h2>Register your data here!</h2>
        </hgroup>
    </header><!-- ./ Header -->

    <!-- Main -->
    <main class="container">

        <!-- Accordions -->
        <section id="accordions">
            <h2>Metadata</h2>
            <details>
                <summary>Basic Information</summary>
                <div id="metadata_section">
                    <br /><br />
                    <form id="metadataform">
                        <input type="text" id="dataset_name" name="Dataset_Name" placeholder="Dataset Name"
                            aria-label="Dataset Name" required>
                        <input type="text" id="dataset_logical_name" name="Dataset_Logical_Name"
                            placeholder="Dataset LogicalName" aria-label="Dataset LogicalName" required>
                        <input type="text" id="dataset_description" name="Dataset_Description"
                            placeholder="Dataset Description" aria-label="Dataset Description" required>
                        <label>Is data sourced externally?</label>
                        <select id="dataset_source" name="Dataset_Source" required>
                            <option value="true">Yes</option>
                            <option value="false" selected>No</option>
                        </select>
                        <label>Is data shared externally?</label>
                        <select id="dataset_share" name="Dataset_Share" required>
                            <option value="true">Yes</option>
                            <option value="false" selected>No</option>
                        </select>

                        <input type="number" id="dataset_retention" name="Dataset_Retention"
                            placeholder="Dataset Retention in days(-1 for indefinite)" aria-label="Dataset Retention"
                            required>
                        <input type="text" id="dataset_retention_justification" name="Dataset_Retention_Justification"
                            placeholder="Dataset retention set accoding to data governance policy established in xyz"
                            aria-label="Dataset Retention Justification" required>
                        <label>Data Arrival Frequency</label>
                        <select id="dataset_arrival_frequency" name="Dataset_ArrivalFrequency" required>
                            <option value="sub-second" selected>Sub second</option>
                            <option value="minutes" selected>Minutes</option>
                            <option value="hourly" selected>Hourly</option>
                            <option value="daily" selected>Daily</option>
                            <option value="weekly" selected>Weekly</option>
                            <option value="monthly" selected>Monthly</option>
                        </select>

                        <br />
                        <hr />
                        <br />

                        <label>Ownership</label>
                        <input type="text" id="organization" name="Org" placeholder="Org" aria-label="Org" required>
                        <input type="text" id="product" name="Product" placeholder="Product" aria-label="Product"
                            required>
                        <input type="text" id="team" name="Team" placeholder="Team" aria-label="Team" required>
                        <input type="text" id="data_steward" name="Data_Steward" placeholder="Data Steward"
                            aria-label="Data Steward" required>

                        <br />
                        <hr />
                        <br />

                        <label>Platform</label>
                        <select id="platform_name" name="PlatformName" required>
                            <option value="Kafka">Kafka</option>
                            <!--
                                <option value="Postgres" selected>Postgres</option>
                                <option value="Dynamo">Dynamo</option>
                                <option value="Riak">Riak</option>
                                <option value="Data Lake">Data Lake</option> 
                            -->
                        </select>
                        <!--
                            <input type="text" id="host_name" name="HostName" placeholder="HostName" aria-label="HostName">
                            <input type="text" id="database_name" name="DatabaseName" placeholder="DatabaseName"
                                aria-label="DatabaseName">
                            <input type="text" id="schema_name" name="SchemaName" placeholder="SchemaName"
                                aria-label="SchemaName">    
                        -->
                        <label>Security & Privacy</label>
                        <select id="data_classification" name="data_classification" required>
                            <option value="Anon">Anon</option>
                            <option value="NPI">NPI</option>
                            <option value="PCI">PCI</option>
                            <option value="Credit">Credit</option>
                        </select>


                        <button id="metdata-btn">Submit</button>
                    </form>
                </div>


            </details>
            <details>
                <summary>Schema</summary>
                <div id="schema_section">
                    <br /><br />
                    <form id="schemaform">
                        <label for="file">Upload your Protobuf/Avro Schema
                            <input type="file" id="file" name="file" accept=".avsc,.proto">
                        </label>
                        <input type="hidden" class="dataset_id" name="DatasetID" placeholder="DatasetID"
                            aria-label="Dataset ID">
                        <input type="hidden" class="dataset_uuid" name="DatasetUUID" placeholder="DatasetUUID"
                            aria-label="Dataset UUID">

                        <input id="schema-submit" type="submit" value="Submit">
                    </form>

                    
                </div>
                <div>
                    <button id="partition-btn">Save Schema</button>
                </div>

            </details>            


        </section><!-- ./ Accordions -->

        <div class="grid" id="navigation">
           
        </div>

    </main><!-- ./ Main -->

    <!-- Footer -->
    <footer class="container">
        <small></small><a href="#">Data Catalog</a> • <a href="#">Zendesk</a></small>
    </footer><!-- ./ Footer -->


</body>

</html>