<!doctype html>
<html lang="en">

<head>
    <!-- <meta charset="utf-8"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Control Plane Registration</title>
    <meta name="description" content="Add Sinks">
    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">


    <!--Jquery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>

    <!--Data tables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"> </script>

    <script>

        $(document).ready(function () {
            $('#es-sink-btn').on('click',function (event) {
                $.ajax({
                    url: '/register/sinks/elasticsearch/{{ .payload.DatasetID }}',
                    dataType: 'json',
                    type: 'POST',
                    contentType: 'application/json',
                    accept: {
                        json: 'application/json'
                    },
                    data: JSON.stringify({
                        "ignore_key":$('#es_ignore_key').val(),
                        "ignore_schema": $('#es_ignore_schema').val(),
                    }),
                    processData: false,
                    success: function (data, textStatus, jQxhr) {
                        alert('Success');
                        console.log(data);
                        $('#es-sink-status').html('<br/><br/><h4>Sink Configuration Saved</h4><br/>');
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
            });

        });

    </script>
</head>

<body>

    <!-- Header -->
    <header class="container">
        <hgroup>
            <h1>Add Sinks</h1>
            <p>Configure infrastructure and pipelines to land the data automatically to different sinks. Data automatically lands in the Data Lake and does not need any configuration</p>
        </hgroup>
    </header><!-- ./ Header -->

    <!-- Main -->
    <main class="container">
        <!-- Accordions -->
        <section id="accordions">
            <h2>Sinks</h2>
            <details>
                <summary>Elasticsearch</summary>
                <div id="es-section">
                    <br /><br />
                    
                        <label>Ignore Key?</label>
                        <select id="es_ignore_key" name="es_ignore_key" required>
                            <option value="true">Yes</option>
                            <option value="false" selected>No</option>
                        </select>
                        <label>Ignore Schema?</label>
                        <select id="es_ignore_schema" name="es_ignore_schema" required>
                            <option value="true">Yes</option>
                            <option value="false" selected>No</option>
                        </select>
                        <button id="es-sink-btn">Submit</button>
                    
                </div>
                <div id="es-sink-status">
                </div>
            </details>

            <details>
                <summary>Postgres</summary>
                <div id="postgres_section">
                    <br /><br />
                    <form id="postgres-form">
                        <input type="text" id="pg_host_name" name="HostName" placeholder="HostName" aria-label="HostName">
                        <input type="text" id="pg_database_name" name="DatabaseName" placeholder="DatabaseName"
                            aria-label="DatabaseName">
                        <input type="text" id="pg_schema_name" name="SchemaName" placeholder="SchemaName"
                            aria-label="SchemaName">
                            <input type="number" id="pg_port" name="Port" placeholder="Port" aria-label="Port">
                        <input id="postgres-submit" type="submit" value="Sink to Postgres">
                    </form>
                </div>
                <div id="postgres-sink-status">
                </div>
            </details>

            <details>
                <summary>MySQL</summary>
                <div id="mysql_section">
                    <br /><br />
                    <form id="mysql-form">
                        <input type="text" id="mysql_host_name" name="HostName" placeholder="HostName" aria-label="HostName">
                        <input type="text" id="mysql_database_name" name="DatabaseName" placeholder="DatabaseName"
                            aria-label="DatabaseName">
                        <input type="number" id="mysql_port" name="Port" placeholder="Port" aria-label="Port">
                        <input id="mysql-submit" type="submit" value="Sink to MySQL">
                    </form>
                </div>
                <div id="mysql-sink-status">
                </div>
            </details>

            <details>
                <summary>Cassandra</summary>
                <div id="cassandra_section">
                    <br /><br />
                    <h2>WIP</h2>
                    <br /><br />
                </div>
                <div id="cassandra-sink-status">
                </div>
            </details>

            <details>
                <summary>BigQuery</summary>
                <div id="schema_section">
                    <br /><br />
                    <h2>WIP</h2>
                    <br /><br />
                </div>
                <div id="cassandra-sink-status">
                </div>
            </details>

            <details>
                <summary>Snowflake</summary>
                <div id="schema_section">
                    <br /><br />
                    <h2>WIP</h2>
                    <br /><br />
                </div>
                <div id="cassandra-sink-status">
                </div>
            </details>

        </section><!-- ./ Accordions -->

        <div class="grid" id="navigation">
           <a href="/register/review/{{ .payload.DatasetID }}">Submit Registration for Approval</a>
        </div>

    </main><!-- ./ Main -->

    <!-- Footer -->
    <footer class="container">
        <small></small><a href="#">Data Control Plane</a>
    </footer><!-- ./ Footer -->


</body>

</html>